* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #230221;
  font-family: Arial, sans-serif;
}

/* Navbar (header) */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d0014;
  color: #fff;
  height: 3.5rem;
  width: 100%;
  padding: 0 2rem;
  box-shadow: 0 0 15px #2a033e;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.navbar img {
  border-radius: 50%;
  background-color: #fdcffa;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.nav-content p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.1;
}

.headline {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Main section styling */
.main {
  padding: 2rem;
}

.cos {
  height: 20rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  color: #fff;
  box-shadow: 10px 10px 20px #220233, -10px -10px 20px #eaccfa;
}

.co p:hover {
  transform: scale(1.05);
}

.co h2{
    margin-top: 3rem;
 }

.title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 10px 8px;
}

/* Table section */
.tbl-wrap {
  height: auto;
  overflow-x: auto;
  margin-top: 2rem;
  box-shadow: 10px 10px 20px #220233, -10px -10px 20px #eaccfa;
}

.tbl-wrap  h2{
    margin-top: 3rem;
  }

table.exam {
  margin-top: 1.8rem;
  border-collapse: collapse;
  width: 100%;
  min-width: 1000px;
  border: 2px solid #ffffff;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 2px 6px #ffff;
}

table.exam th, table.exam td {
  border: 1px solid #ffffff;
  padding: 10px 8px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.3;
}

table.exam thead th {
  background: linear-gradient(360deg, #2a0141, #190027, #0d0014);
  color: #fff;
  font-weight: 700;
}

table.exam tbody tr:nth-child(even) {
  background: #f7f9fc;
}

table.exam tbody tr:hover {
  background: #fedffb;
}

.syllabus {
  margin-top: 3rem;
  box-shadow: 10px 10px 20px #2a033e, -10px -10px 20px #eaccfa;
}

.syllabustable {
  margin-top: 1.2rem;
  border: 2px solid #070707;
  width: 100%;
  border-collapse: collapse;
}

.syllabus th {
  font-size: 20px;
  background: linear-gradient(360deg, #2a0141, #190027, #0d0014);
  color: #fff;
  padding: 1rem;
  border: 1px solid #000000;
}

.syllabus td {
  text-align: left;
  font-size: 18px;
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid #000000;
}

/* Responsive header 
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }
  .headline {
    text-align: center;
    margin-top: 0.5rem;
  }
}*/